@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e80202;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 12vw;
    line-height: 0.6em;
    z-index: 1000;
    font-weight: 900;
}

h2 span {
    font-size: 0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}

.block {
    position: absolute;
    width: 37px;
    height: 75px;
    background: #e80202;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
}